<div >
  <div class="container">
    <h1>BÀI TEST ĐẦU VÀO DTS FRESHER DEVELOPER</h1>
    <p>Họ và tên: Lã Hoàng Nguyên</p>
    <p>Năm sinh: 2001</p>
  </div>

  <div class="body">
    <h3>
      1. Tạo 1 mảng chứa 1000 phần tử random các ký tự a-&gt;z (cả viết thường lẫn
      viết hoa), độ dài mỗi phần tử ngẫu nhiên từ 1-&gt;5 ký tự, liệt kê các phần
      tử đã tạo:Vui lòng tạo mảng trước khi sắp xếp ở phần 2
    </h3>
    <p style="word-wrap: break-word" *ngIf="isInvisibleRandomArray">
      {{ randomArray }}
    </p>
    <button class="custom-button" (click)="genArray()">
      Generate Random Array
    </button>
  </div>

  <div class="body">
    <h3>
      2. Sắp xếp mảng trên theo 5 cách khác nhau (theo quy tắc từ điển), trình bày
      các giải thuật sắp xếp sử dụng:
    </h3>
    <div *ngIf="isInvisibleRandomArray">
      <h4>2.1 Bubble Sort:</h4>
      <p style="word-wrap: break-word" *ngIf="isInvisibleBubbleSorted">
        {{ bubbleSortedArray }}
      </p>
      <button class="custom-button" (click)="bubbleSort()">
        Bubble Sorted Array
      </button>

      <h4>2.2 Selection Sort:</h4>
      <p style="word-wrap: break-word" *ngIf="isInvisibleSelectionSorted">
        {{ selectionSortedArray }}
      </p>
      <button class="custom-button" (click)="selectionSort()">
        Selection Sorted Array
      </button>

      <h4>2.3 Insertion Sort:</h4>
      <p style="word-wrap: break-word" *ngIf="isInvisibleInsertionSorted">
        {{ selectionSortedArray }}
      </p>
      <button class="custom-button" (click)="insertionSort()">
        Insertion Sort Array
      </button>

      <h4>2.4 Merge Sort:</h4>
      <p style="word-wrap: break-word" *ngIf="isInvisibleMergeSorted">
        {{ mergeSortedArray }}
      </p>
      <button class="custom-button" (click)="mergeSort()">
        Merge Sort Array
      </button>

      <h4>2.5 Quick Sort:</h4>
      <p style="word-wrap: break-word" *ngIf="isInvisibleQuickSorted">
        {{ quickSortedArray }}
      </p>
      <button class="custom-button" (click)="quickSort1()">
        Quick Sort Array
      </button>
    </div>
  </div>

  <div class="body">
    <h3>3.Đánh giá thời gian chạy của 5 giải thuật ở trên:</h3>

    <div *ngIf="isInvisibleRandomArray">
      <p style="word-wrap: break-word" *ngIf="isInvisibleRandomArray">
        1. Nhanh nhất: Quick Sort do <br />2. Merge Sort <br />3. Insertion Sort
        <br />4. Selection Sort <br />5. Chậm nhất:Bubble Sort
      </p>
    </div>
  </div>

</div>
