.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.body{
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

.custom-button {
  background-color: black;
  color: white;
  border-radius: 8px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #333;
}

.background-image {

  background-size: cover;
  background-repeat: no-repeat;
}


h1 {
  color: #333;
}

img {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}
